name: documentation

on:
  workflow_dispatch:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

permissions:
  contents: write

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install ffmpeg
        run: |
          sudo apt-get update
          sudo apt-get install -y ffmpeg
      - uses: ./.github/actions/setup-python-cached
        with:
          python-version: '3.12'
          extras: dev,tensorflow
      - name: Cache jupyter-cache
        uses: actions/cache@v4
        with:
          path: docs/_build/.jupyter_cache
          key: ${{ runner.os }}-jupyter-cache-${{ hashFiles('docs/tutorials/**') }}
          restore-keys: |
            ${{ runner.os }}-jupyter-cache-
      - name: Build documentation
        run: |
          cd docs
          make html
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        if: ${{ (github.event_name == 'push' && github.ref == 'refs/heads/main') || github.event_name == 'workflow_dispatch' }}
        with:
          publish_branch: gh-pages
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: docs/_build/html/
          force_orphan: true
